{% extends 'base.html' %}
{% block content %}
<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404 !!!">404</div>
                        <p class="lead text-gray-800 mb-10">We are working on it !</p>
                        <p class="text-gray-500 mb-0">This feature is not available yet..</p>
                        <a href="{{ url_for('dashboard_bp.dashboard') }}">&larr; Back to Dashboard</a>
                    </div>

                </div>
{% endblock %}

{% block nav_items %}
<li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard_bp.dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('expenses_bp.expenses') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Expenses</span></a>
            </li>
{% endblock %}